@{
    ViewBag.Title = "ROZ - Informacje";
}
<h2>Informacje</h2>
<h3>@ViewBag.Message</h3>

<p>
    Strona przedstawia rejestr osób zaginionych. W systemie możemy sprawdzić aktualne dane na temat
    zaginięcia konkretnych osób. System umożliwia również dodanie kolejnej osoby zaginionej, która
    będzie weryfikowana przed zadministratora strony.
</p>
