@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Firma Search&Find<br />
    Wrocław, ul. Powstania Warszawskiego 35<br />
    <abbr title="Phone">Telefon:</abbr>
    111-111-111
</address>
